<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/index.css">

</head>
<body>
    <h1>User Home Page</h1>

    <a href="/user/booking">Book Ride</a>
    <a href="">Booking History</a>
    <a href="">View Drivers Details</a>
    <a href="">View Vehicle Details</a>
    <a href="/auth/change-password">Change Password</a> 
    <a href="/login">Log Out</a>  
    
</body>
</html>